.App {
  
}
.wrapper {
  width: 400px;
  height: 230px;
  border: 5px solid rgb(33, 99, 119);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;

}

.countWrapper {
  width: 300px;
  height: 100px;
  background-color: rgb(33, 99, 119);
  font-size: 36px;
  font-weight: 600;
  border-radius: 10px ;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.button-box {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border : 2px solid rgb(33, 99, 119);
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  
  
}
.active {
  background-color: rgb(33, 99, 119);
  border-radius: 5px;
  width: 35%;
  padding: 5px;
  font-size: 20px;
}
.disable {
  background-color: rgb(157, 199, 212);
  color:rgb(228, 232, 235);
  border-radius: 5px;
  width: 35%;
  padding: 5px;
  font-size: 20px;
  
}
.error {
  color: red;
}
.notError {
  color: black;
}